/* ----------------
    Responsive
------------------- */
@media (max-width:800px){
    .nav--toggle--icon{
        display: block;
    }
    .header{
        margin-bottom: 5.5rem;
    }

    .nav--menu{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transform: translateX(-460px);
        transition: transform .5s ease-in-out;
    }
    
    .nav--item{
        margin-bottom: .4rem;
    }

    #nav--toggle:checked ~ .nav--menu{
        transform: translateX(0);
    }

    /* Hero */
    .grid{
        grid-template-columns: 1fr;
    }

   .hero--info{
       order: 2;
   }

   .hero--img--box{
       text-align: center;
       margin: 1rem 0;
   }
}