/* -----------------
    Google Fonts
------------------ */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

/* -----------------------
    Base and common code
------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1400px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.primary--color{
    color: var(--primary-color);
}

.btn{
    padding: .3rem .6rem;
    color: var(--white-color);
    border-radius: 30px;
    font-weight: 700;
    background-color: var(--primary-color);
    transition: all 350ms ease-in-out;
    border: 1px solid var(--primary-color);
}

.btn:hover{
    color: var(--primary-color);
    background: transparent;
}

/* ------------------
    custom property
------------------ */
:root{
    --accent-color: #03203C;
    --gradient-color: linear-gradient(90deg,#6A1B4D,#FF6666);
    --primary-color: #8D3DAF;
    --heading-color: #120E43;
    --white-color: #fff;
    --box-shadow: 5px 5px 15px  rgba(0,0,0,0.4);
}


/* ---------------
    Header
--------------- */
.header{
    width: 100%;
    padding: 1.2rem;
    height: fit-content;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
    /* position: relative; */
}

.brand--name{
    font-size: 1.3rem;
    font-weight: 800;
    border: 1px solid var(--primary-color);
    padding: .1rem .3rem;
    color: var(--primary-color);
}

.nav--menu{
    display: flex;
}

.nav--item{
    margin-left: 2.2rem;
}

.nav--item .nav--list{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--accent-color);
    position: relative;
    transition: var(--transition);
}

.nav--item .nav--list:hover{
    color: var(--primary-color);
}

.nav--item .nav--list::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transform: scale(0);
    transition: var(--transition);
}

.nav--item .nav--list:hover::before{
    transform: scale(1);
}

.nav--item .nav__different__list{
    font-size: 1.4rem;
}

 .nav--item .nav__different__list::before{
    background-color: transparent;
}

/* ----Nav toggler---- */
#nav--toggle{
    display: none;
}

.nav--toggle--icon{
    display: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    border: 1px solid var(--primary-color);
    padding: 0 .2rem;
}

/* ----------------
    Hero Section
---------------- */
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.2rem;
}

.hero--heading{
    font-size: 3.5rem;
    color: var(--heading-color);
}

.description{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--accent-color);
    text-align: justify;
    padding: 1rem 2rem 1rem 0 ;
}

.hero--img--box{
    margin-left: 4rem;
}